<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Connects</h1>
        <%
            if (connects.length > 0) {
                for (let i = 0; i < connects.length; i++) { %>
                    <div>
                        <h2>
                            <%= connects[i].username %>
                        </h2>
                        <h3>
                            <%= connects[i].status == true ? "Online" : "Offline" %>
                        </h3>
                    </div>
                <% }
            } else { %>
                <h2>No connects found</h2>
            <% } %>
    </div>
</body>
</html>