<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class = "flex gap-4">
        <div class = "inline-block">
            <h1>Connects</h1>
            <% if (connects.length > 0) { %>
                <ul class = "connects inline-block">
                    <% for (let i = 0; i < connects.length; i++) { %>
                        <li id="<%= connects[i].username %>">
                            <h2>
                                <%= connects[i].username %>
                            </h2>
                            <h3>
                                <%= connects[i].status == true ? "Online" : "Offline" %>
                            </h3>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <h2>No connects found</h2>
            <% } %>
        </div>
        <div class = "inline-block">
            <div class="card">
                <div class="chat-header">Chat</div>
                <div class="chat-window">
                    <ul class="message-list"></ul>
                </div>
                <div class="chat-input">
                    <input type="text" class="message-input" placeholder="Type your message here">
                    <button class="send-button">Send</button>
                </div>
                </div>
        </div>
    </div>
</body>
</html>